 body{
            margin-left: 350px;
        margin-right: 350px;
           color:#444444;
           background-color: lightgray;
            font-family:sans-serif;
            }
        hr {
            border-color: skyblue;
        }
             h1
        {font-size: 55px;
        font-weight: lighter;
        } 
        h2
        {font-size: 20px;
        font-weight: lighter;
        } 
        h4
        {font-size: 24px;
        font-weight: lighter;
        }
        h3
        {font-size: 43px;
        font-weight: lighter;
        }
        p
        {font-size: 22px;
        font-weight: lighter;
        } 
        p5
        {font-size: 15px;
        font-weight: lighter;
        }
        